h1 {
    margin-top: 20px;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

.card {
    background: var(--row-bg);
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    text-align: left;
}

.action {
    font-weight: bold;
    color: #00b894;
}


