body {
    background-color: #363636;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.form-box {
    margin: 80px auto;
    width: 400px;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: #00b894;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #019870;
}