.text {
    font-size: 25px;
    line-height: 1.4;
}

.text-box, .text-box2 {
  display: block;
  padding: 20px;
  margin: 0 auto 30px auto;
  border: 5px solid #353535;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 60%;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .text-box, .text-box2 {
    width: 90%;
  }
}
