:root {
    --bg: #363636;
    --text: #ffffff;
    --card-bg: #444;
    --sidebar-bg: #222;
    --row-bg: #444;
    --input-bg: #fff;
    --input-text: #000;
}

body.light {
    --bg: #f5f5f5;
    --text: #000000;
    --card-bg: #ffffff;
    --sidebar-bg: #e0e0e0;
    --row-bg: #f0f0f0;
    --input-bg: #ffffff;
    --input-text: #000000;
}


body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #222;
    padding-top: 20px;
    transform: translateX(-240px);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar a, .sidebar button {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.sidebar a:hover {
    text-decoration: underline;
    background-color: #353535;
}
.sidebar button:hover {
    background-color: #353535;

}

.toggle-btn {
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: var(--bg);
    color: var(--text);
    border: none;
    padding: 4px 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 1100;
}

.toggle-btn2 {
    position: fixed;
    bottom: 35px;
    left: 20px;
    background-color: #222;
    color: white;
    border: none;
    padding: 4px 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1100;
    text-decoration: none;
}

#themeToggle {
    font-size: 26px;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

#themeToggle.rotate {
    transform: rotate(180deg);
    opacity: 0.6;
}

.card-list {
    display: none;
}

.suche {
    padding:10px;
    font-size:20px;
    margin-bottom:10px;
    color: White;
    background-color: #474747;
}
.suche.light {
    padding:10px;
    font-size:20px;
    margin-bottom:10px;
    color: #000000;
    background-color: #d1d1d1;
}

.I {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    border: none;
    padding: 4px 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1100;
    background-color: #3B3B3B
}

.container.light {
    border: 5px none ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.logout {
    position: fixed;
    bottom: 47px;
    left: 160px;
    color: white;
    border: none;
    padding: 4px 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1100;
}