:root {
    --bg: #363636;
    --text: #ffffff;
    --card-bg: #444;
    --sidebar-bg: #222;
    --row-bg: #444;
    --input-bg: #fff;
    --input-text: #000;
}

body.light {
    --bg: #f5f5f5;
    --text: #000000;
    --card-bg: #ffffff;
    --sidebar-bg: #e0e0e0;
    --row-bg: #f0f0f0;
    --input-bg: #ffffff;
    --input-text: #000000;
}


body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}