table {
    margin: 40px auto;
    border-collapse: collapse;
    width: 70%;
    font-size: 24px;
}

th, td {
    border: 1px solid #555;
    padding: 12px;
}

th {
    background-color: var(--header-bg);
}

tr:nth-child(even) {
    background-color: var(--row-bg);
}
