

table {
    margin: 40px auto;
    border-collapse: collapse;
    width: 70%;
    font-size: 24px;
}

th, td {
    border: 1px solid #555;
    padding: 12px;
}

th {
    background-color: var(--header-bg);
}

tr:nth-child(even) {
    background-color: var(--row-bg);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #222;
    padding-top: 20px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.4);
    transform: translateX(-240px);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.sidebar a:hover, .sidebar button:hover {
    background-color: var(--row-bg);
}

.toggle-btn {
    position: fixed;
    top: 10px;
    left: 20px;
     background-color: var(--bg);
    color: var(--text);
    border: none;
    padding: 4px 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 1000;
}
.toggle-btn.light {
    --bg: #f5f5f5;
    --text: black;
    --background-color: #ffffff;
}

.toggle-btn2 {
    position: fixed;
    bottom: 30px;
    left: 25px;
    background-color: #222;
    color: white;
    border: none;
    padding: 4px 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 1000;
}
#themeToggle {
    font-size: 26px;
    transition: transform 0.4s ease, opacity 0.3s ease;
}

#themeToggle.rotate {
    transform: rotate(180deg);
    opacity: 0.6;
}