.pyramid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 60px;
}

.row {
    display: flex;
    gap: 20px;
}

.box {
    padding: 10px 20px;
    background: #6a6a6a;
    border: 2px solid #444;
}


.brace {
    position: absolute;

    font-size: 85px;
    rotate: z 270deg;
}
.brace.a {
    top: 65px;
}
.brace.b {
    top: 200px;
    left: 46%;
}
.brace.c {
    top: 200px;
    left: 51.5%;
}
.brace.d {
    top: 330px;
    left: 44%;
}
.brace.e {
    top: 330px;
    left: 50%;
}
.brace.f {
    top: 330px;
    left: 55%;
}
