<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Log</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/admin_log.css">
</head>

<body>

<h1>Admin Log</h1>


<a id="deleteLogsBtn"  class="deleteLogs">
     Alle Logs löschen
</a>

<select id="filter" class="suche">
    <option value="">Alle</option>
    <option value="eingabe">Eingaben</option>
    <option value="delete">Löschungen</option>
    <option value="edit">Bearbeitungen</option>
    <option value="login">Login</option>
    <option value="logout">Logout</option>
    <option value="api">Api</option>
</select>

<div class="card-list">
    {% for ip, username, name, wert, action, ts in logs %}
    <div class="card">
        <div><strong>{{ ts }}</strong></div>
        <div>IP: {{ ip }}</div>
        <div>Benutzer: {{ username }}</div>
        <div>Name: {{ name }}</div>
        <div>Wert: {{ wert }}</div>
        <div class="action">Aktion: {{ action }}</div>
    </div>
    {% endfor %}
</div>

{% include "sidebar.html" %}


<script src="/static/js/admin_log.js"></script>
<script src="/static/js/main.js"> </script>
</body>
</html>
