<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>eddi</title>
    <link rel="stylesheet" href="/static/css/my.css">
</head>
<body>

<div class="taskbar">
    <button id="windows_menu_btn"></button>
    <button id="explorer_menu_btn"></button>
    <button id="word_menu_btn"></button>
    <button id="vsc_menu_btn"></button>
    <button id="whatsapp_menu_btn"></button>
    <button id="pfeil_menu_btn"></button>
    <button id="lang_menu_btn"></button>
    <input id="search" type="text" placeholder=" 🔍 Suche" autocomplete="off">
    <p id="time">13:30</p>
    <p id="date">07.04.2026</p>
    <p id="lang">DEU</p>
</div>

<div class="menu" id="windows_menu">
    <p>hallo</p>
</div>
<div class="menu" id="explorer_menu">
    <div class="titlebar"></div>

    <a href="https://github.com/idde2">
        <img src="/static/images/github.png" width="50" height="50">
        <span> Github</span>
    </a>

    <a href="https://example.com">
        <img src="/static/images/word.png" width="50" height="50">
        <span> Word</span>
    </a>
</div>



<div class="menu" id="word_menu">
    <div class="titlebar"></div>
    <a href="/static/docs/lebenslauf-Eddi-Mickan.pdf" target="_blank">Lebenslauf-Eddi-Mickan.pdf</a>
</div>



<div class="menu" id="vsc_menu">
    <div class="titlebar"></div>
    <p>hallo</p>
</div>



<div class="menu" id="whatsapp_menu">
    <div class="titlebar"></div>
    <p>hallo</p>
</div>



<div class="menu" id="pfeil_menu">
    <div class="titlebar"></div>
    <a href="http://51.254.81.113/"      target="_blank">webseite</a>
    <a href="http://51.254.81.113:5000/" target="_blank">system</a>
    <a href="http://51.254.81.113:9090/" target="_blank">cockpit</a>
    <a href="http://51.254.81.113:1000/" target="_blank">apache_main</a>
</div>



<div class="menu" id="lang_menu">
    <div class="titlebar"></div>
    <a href="/my/de">Deutsch</a>
    <a href="/my/en">english</a>
</div>



<div class="menu" id="search_menu">
    <p id="search_text">hallo</p>
</div>





<script src="/static/js/my.js"></script>
</body>
</html>