<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin PIN</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/pin.css">
</head>

<body>

<div class="box">
    <h2 style="font-size: 30px; color: red;  line-height: 0.9;">Dein Account hat keine Berechtigung auf den Adminbereich</h2>
</div>

{% include "sidebar.html" %}


<script src="/static/js/pin.js"> </script>
<script src="/static/js/main.js"> </script>
</body>
</html>
