<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ daten[0] }}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/profil.css">
</head>
<body>
    <div class="main-container">
        {% include "sidebar.html" %}
        <div class="auth-card">
            <div class="cont">
                <p class="input-wrapper">Username: {{ daten[0] }}</p>
            </div>
            <div class="cont">
                <p class="input-wrapper">Email: {{ daten[1] }}</p>
            </div>
            <div class="cont">
                <p class="input-wrapper">hat Admin Rechte: {{ "ja" if daten[2] == 1 else "nein" }}</p>
            </div>

        </div>
    </div>
</body>
</html>
