<button id="toggleBtn" class="toggle-btn">☰</button>
<div id="sidebar" class="sidebar">
    <p>  </p>
    <a href="/">Live‑Daten</a>
    <a href="/tabelle">Tabelle</a>
    <a href="/rang">Rang</a>
    <a href="/eingabe">Eingabe</a>
    <a href="/admin">Admin</a>
    <button class="toggle-btn2" id="themeToggle">🌙</button>
    <a class="logout" href="/logout">
        <img id="logout" class="logout" src="{{ url_for('static', filename='images/logout_light.png') }}" data-light="{{ url_for('static', filename='images/logout_light.png') }}" data-dark="{{ url_for('static', filename='images/logout_dark.png') }}" width="24" height="24">
    </a>
</div>

<a class="I" href="/info">
    <img id="i" class="I" src="{{ url_for('static', filename='images/I_light.png') }}" data-light="{{ url_for('static', filename='images/I_light.png') }}" data-dark="{{ url_for('static', filename='images/I_dark.png') }}" width="24" height="24">

</a>

<div id="reconnect" class="reconnect" >Verbindung wird wiederhergestellt…</div>



<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="/static/js/main.js"> </script>