<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tabelle</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/tabelle.css">
</head>

<body>

<h1 style="font-size: 50px;  line-height: 0.5;">Tabelle</h1>

<div id="sidebar" class="sidebar">
    <p></p>
    <a href="/">Live‑Daten</a>
    <a style="font-weight: bold" href="/tabelle">Tabelle</a>
    <a href="/rang">Rang</a>
    <a href="/eingabe">Eingabe</a>
    <a href="/admin">Admin</a>
    <button class="toggle-btn2" id="themeToggle">🌙</button>
    <a class="logout" href="/logout">
        <img class="logout" src="{{ url_for('static', filename='images/logout.png') }}" width="24" height="24">
    </a>
</div>

<button id="toggleBtn" class="toggle-btn">☰</button>

<input id="search" placeholder="Suchen…" class="suche" style="line-height: 0.5;">

<a class="I" href="/info">
    <img class="I" src="{{ url_for('static', filename='images/I.png') }}" width="24" height="24">
</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Wert</th>
        </tr>
    </thead>

    <tbody id="tbody">
        {% for id, name, wert in daten %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>{{ wert }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script src="/static/js/tabelle.js"> </script>
<script src="/static/js/main.js"> </script>
</body>
</html>
