<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Turnier</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/turnier.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>

<div class="pyramid">

    <div class="row">
        <div id="win" class="box">?</div>
    </div>

    <div class="row">
        <div id="half-win1" class="box">?</div>
        <div id="half-win2" class="box">?</div>
    </div>

    <div class="row">
        <div id="winAB" class="box">?</div>
        <div id="winBC" class="box">?</div>
        <div id="winCD" class="box">?</div>
    </div>

    <div class="row">
        <div class="box">A</div>
        <div class="box">B</div>
        <div class="box">C</div>
        <div class="box">D</div>
    </div>


<!--    <div class="brace a">}</div>-->
<!--    <div class="brace b">}</div>-->
<!--    <div class="brace c">}</div>-->
<!--    <div class="brace d">}</div>-->
<!--    <div class="brace e">}</div>-->
<!--    <div class="brace f">}</div>-->




</div>



<script src="/static/js/turnier.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
